.text-wrap-pretty {
  text-wrap: balance;
}

.code button {
  width: calc(2.625rem * var(--mantine-scale));
  height: calc(2.625rem * var(--mantine-scale));
}

.code button svg {
  width: calc(1.75rem * var(--mantine-scale));
  height: calc(1.75rem * var(--mantine-scale));
}

.video {
  border: none;
}
