.text-wrap-pretty {
  text-wrap: balance;
}

.code button {
  width: calc(2.625rem * var(--mantine-scale));
  height: calc(2.625rem * var(--mantine-scale));
}

.code button svg {
  width: calc(1.75rem * var(--mantine-scale));
  height: calc(1.75rem * var(--mantine-scale));
}

.video {
  border: none;
}

.segmented-control-label {
  cursor: default;
}

.action-icon[data-variant="outline"],
.button[data-variant="outline"],
.input,
.radio input {
  border-width: 0.125rem!important;
}

.number-control {
  border-inline-start-width: 0.125rem!important;
}
