.header {
  height: 100%;
  padding-left: 1rem;
}

.header-name {
  color: var(--mantine-color-text);
  text-decoration: none;
}

.header-link {
  height: 100%;
  border-radius: 0;
}

.header-link,
.navbar-link {
  transition: background-color 0.25s;
}

@media (prefers-reduced-motion: reduce) {
  .header-link,
  .navbar-link {
    transition: none;
  }
}

