.header {
  height: 100%;
  padding-left: 1rem;
}

.header-name {
  font-family: var(--mantine-font-family-headings);
  color: var(--mantine-color-text);
  text-decoration: none;
}

.header-link {
  height: 100%;
  border-radius: 0;
}

.header-link,
.navbar-link {
  transition: background-color 0.25s;
}
